weekly meal project/WeeklyMealPlanner/WeeklyMealPlanner/service references/FoodServiceRef/FoodSecretService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2042/FoodSecretService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FoodSecretsServices" />
  <xs:element name="SearchRecipeByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecipeName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchRecipeByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FoodSecretsServices" minOccurs="0" name="SearchRecipeByNameResult" nillable="true" type="q1:ArrayOfRecipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchRecipeByIngredients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ingredients" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchRecipeByIngredientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FoodSecretsServices" minOccurs="0" name="SearchRecipeByIngredientsResult" nillable="true" type="q2:ArrayOfRecipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchRecipeByNutrients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="maxcalories" type="xs:int" />
        <xs:element minOccurs="0" name="maxcarbs" type="xs:int" />
        <xs:element minOccurs="0" name="maxfat" type="xs:int" />
        <xs:element minOccurs="0" name="maxprotein" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchRecipeByNutrientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FoodSecretsServices" minOccurs="0" name="SearchRecipeByNutrientsResult" nillable="true" type="q3:ArrayOfRecipe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatchRecipesDailyCalories">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="targetCalories" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MatchRecipesDailyCaloriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FoodSecretsServices" minOccurs="0" name="MatchRecipesDailyCaloriesResult" nillable="true" type="q4:DailyMeals" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipeInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecipeID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecipeInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FoodSecretsServices" minOccurs="0" name="GetRecipeInformationResult" nillable="true" type="q5:RecipeInformation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>