weekly meal project/WeeklyMealPlanner/WeeklyMealPlanner/service references/FoodServiceRef/FoodSecretService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FoodSecretsServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FoodSecretsServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRecipe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Recipe" nillable="true" type="tns:Recipe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipe" nillable="true" type="tns:ArrayOfRecipe" />
  <xs:complexType name="Recipe">
    <xs:sequence>
      <xs:element minOccurs="0" name="calories" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="carbs" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="imageType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="protein" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recipe" nillable="true" type="tns:Recipe" />
  <xs:complexType name="DailyMeals">
    <xs:sequence>
      <xs:element minOccurs="0" name="calories" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="carbohydrates" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="meals" nillable="true" type="tns:ArrayOfMeal" />
      <xs:element minOccurs="0" name="protein" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DailyMeals" nillable="true" type="tns:DailyMeals" />
  <xs:complexType name="ArrayOfMeal">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Meal" nillable="true" type="tns:Meal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMeal" nillable="true" type="tns:ArrayOfMeal" />
  <xs:complexType name="Meal">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="readyInMinutes" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Meal" nillable="true" type="tns:Meal" />
  <xs:complexType name="RecipeInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Calories" type="xs:int" />
      <xs:element minOccurs="0" name="Carbs" type="xs:int" />
      <xs:element minOccurs="0" name="Fat" type="xs:int" />
      <xs:element minOccurs="0" name="Protein" type="xs:int" />
      <xs:element minOccurs="0" name="aggregateLikes" type="xs:int" />
      <xs:element minOccurs="0" name="cheap" type="xs:boolean" />
      <xs:element minOccurs="0" name="image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="readyInMinutes" type="xs:int" />
      <xs:element minOccurs="0" name="servings" type="xs:boolean" />
      <xs:element minOccurs="0" name="spoonacularScore" type="xs:int" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="veryHealthy" type="xs:boolean" />
      <xs:element minOccurs="0" name="veryPopular" type="xs:boolean" />
      <xs:element minOccurs="0" name="weightWatcherSmartPoints" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RecipeInformation" nillable="true" type="tns:RecipeInformation" />
</xs:schema>