weekly meal project/WeeklyMealPlanner/WeeklyMealPlanner/service references/FoodServiceRef/FoodSecretService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FoodSecretService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:2042/FoodSecretService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:2042/FoodSecretService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:2042/FoodSecretService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FoodSecretsServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFoodSecretService_SearchRecipeByName_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchRecipeByName" />
  </wsdl:message>
  <wsdl:message name="IFoodSecretService_SearchRecipeByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchRecipeByNameResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodSecretService_SearchRecipeByIngredients_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchRecipeByIngredients" />
  </wsdl:message>
  <wsdl:message name="IFoodSecretService_SearchRecipeByIngredients_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchRecipeByIngredientsResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodSecretService_SearchRecipeByNutrients_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchRecipeByNutrients" />
  </wsdl:message>
  <wsdl:message name="IFoodSecretService_SearchRecipeByNutrients_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchRecipeByNutrientsResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodSecretService_MatchRecipesDailyCalories_InputMessage">
    <wsdl:part name="parameters" element="tns:MatchRecipesDailyCalories" />
  </wsdl:message>
  <wsdl:message name="IFoodSecretService_MatchRecipesDailyCalories_OutputMessage">
    <wsdl:part name="parameters" element="tns:MatchRecipesDailyCaloriesResponse" />
  </wsdl:message>
  <wsdl:message name="IFoodSecretService_GetRecipeInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeInformation" />
  </wsdl:message>
  <wsdl:message name="IFoodSecretService_GetRecipeInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRecipeInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="IFoodSecretService">
    <wsdl:operation name="SearchRecipeByName">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodSecretService/SearchRecipeByName" message="tns:IFoodSecretService_SearchRecipeByName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodSecretService/SearchRecipeByNameResponse" message="tns:IFoodSecretService_SearchRecipeByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchRecipeByIngredients">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodSecretService/SearchRecipeByIngredients" message="tns:IFoodSecretService_SearchRecipeByIngredients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodSecretService/SearchRecipeByIngredientsResponse" message="tns:IFoodSecretService_SearchRecipeByIngredients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchRecipeByNutrients">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodSecretService/SearchRecipeByNutrients" message="tns:IFoodSecretService_SearchRecipeByNutrients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodSecretService/SearchRecipeByNutrientsResponse" message="tns:IFoodSecretService_SearchRecipeByNutrients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MatchRecipesDailyCalories">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodSecretService/MatchRecipesDailyCalories" message="tns:IFoodSecretService_MatchRecipesDailyCalories_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodSecretService/MatchRecipesDailyCaloriesResponse" message="tns:IFoodSecretService_MatchRecipesDailyCalories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRecipeInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IFoodSecretService/GetRecipeInformation" message="tns:IFoodSecretService_GetRecipeInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFoodSecretService/GetRecipeInformationResponse" message="tns:IFoodSecretService_GetRecipeInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFoodSecretService" type="tns:IFoodSecretService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchRecipeByName">
      <soap:operation soapAction="http://tempuri.org/IFoodSecretService/SearchRecipeByName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchRecipeByIngredients">
      <soap:operation soapAction="http://tempuri.org/IFoodSecretService/SearchRecipeByIngredients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchRecipeByNutrients">
      <soap:operation soapAction="http://tempuri.org/IFoodSecretService/SearchRecipeByNutrients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MatchRecipesDailyCalories">
      <soap:operation soapAction="http://tempuri.org/IFoodSecretService/MatchRecipesDailyCalories" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRecipeInformation">
      <soap:operation soapAction="http://tempuri.org/IFoodSecretService/GetRecipeInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FoodSecretService">
    <wsdl:port name="BasicHttpBinding_IFoodSecretService" binding="tns:BasicHttpBinding_IFoodSecretService">
      <soap:address location="http://localhost:2042/FoodSecretService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>